# place all worker configuration variables here

initialize:
  name: {{ name }}

deploy: 
  image_uri: ""
  image_tag: ""
  boot_nodes: /dns4/heads-1.heads.devnet-heads/tcp/9010/p2p/12D3KooWEvNL9wXM6dzusvRpA7qo98QdsUE52x4vHtv2sttc6Za7,/dns4/heads-0.heads.devnet-heads/tcp/9010/p2p/12D3KooWRX78c84ko4ZNiDFE5i2d9QT4SPxBkpT6kjzxUotQ8sNR
  chain_rpc_address: ALLORA_RPC_URL 
  chain_topic_id: 1
  mnemonic: ""
