version: "3.8"
services:
  worker:
    container_name: worker
    build: .
    command: >
      ./upshot-node --role=worker --peer-db=/data/worker/peerdb --function-db=/data/worker/function-db 
      --runtime-path=/app/runtime --runtime-cli=bls-runtime --workspace=/data/worker/workspace
      --private-key=/data/worker/key/priv.bin --log-level=debug --port=9011 
      --boot-nodes=/ip4/172.19.0.100/tcp/9010/p2p/{{ head_peer_id }}
    volumes:
      - type: bind
        source: ./data
        target: /data
    env_file:
      - .env
    depends_on:
      - head
    networks:
      b7s-local:
        aliases:
          - worker
        ipv4_address: 172.19.0.5

  head:
    container_name: head
    image: 696230526504.dkr.ecr.us-east-1.amazonaws.com/allora-inference-base-head:dev-latest
    command: >
      ./upshot-node --role=head --peer-db=/data/head/peerdb --function-db=/data/head/function-db
      --runtime-path=/app/runtime --runtime-cli=bls-runtime --workspace=/data/head/workspace
      --private-key=/data/head/key/priv.bin --log-level=debug --port=9010 --rest-api=:6000
    ports:
      - "6000:6000"
    volumes:
      - type: bind
        source: ./data
        target: /data

    networks:
      b7s-local:
        aliases:
          - head
        ipv4_address: 172.19.0.100

networks:
  b7s-local:
    driver: bridge
    ipam:
      config:
        - subnet: 172.19.0.0/24
